<h1>Edit Rate Plan</h1>

<div class="col-sm-7">
  <div class="navbar">
     <div><%= link_to('Back To Rate Plan Details', admin_product_rate_plan_path(@rate_plan), class: "btn btn-secondary") %></div>
  </div>

  <div>
    <%= form_for @rate_plan, url: admin_product_rate_plan_path do |f| %>
    <div class="form-group">
      <%= label_tag 'Title' %>
      <%= f.text_field :title, class: 'form-control', maxLength: 60 %>
    </div>
    <div class="form-group">
      <%= label_tag 'Description' %>
      <%= f.text_area :description, class: 'form-control', rows: 3 %>
    </div>
    <div class="form-group">
      <%= label_tag 'Status' %>
      <%= f.select :status, options_for_select(RatePlan::Status::ALL_STATUSES, @rate_plan.status) %>
    </div>
    <div class="form-group">
      <%= label_tag 'Recurrence' %>
      <%= f.select :recurrence, options_for_select(RatePlan.recurrences.keys, @rate_plan.recurrence) %>
    </div>
    <div class="form-group">
      <%= label_tag 'Price' %>
      <%= f.text_field :price %>
    </div>
    <div class="form-group">
      <%= label_tag 'Start Date' %>
      <%= f.date_field :start_date, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag 'End Date' %>
      <%= f.date_field :end_date, class: 'form-control' %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
