<h1>Rate Plans For <%= @product.title %></h1>

<div class="col-sm-7">
  <div class="navbar">
    <div><%= link_to("Back To #{@product.title}", admin_product_path(@product), class: 'btn btn-info' ) %></div>
    <div><%= link_to('Add New Rate Plan', new_admin_product_rate_plan_path(@product), class: 'btn btn-primary') %></div>
    <div>
      <% if @presentation_filters.empty? %>
        <%= link_to('only active', admin_product_rate_plans_path(status: Product::Status::ACTIVE, product_id: @product.id), class: 'btn btn-secondary float-right') %>
      <% else %>
        <%= link_to('clear filters', admin_product_rate_plans_path(@product), class: 'btn btn-dark float-right') %>
      <% end %>
    </div>
  </div>
</div>


<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Recurrence</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
  <% @rate_plans.each do |rate_plan| %>
    <tr>
      <td><%= link_to(rate_plan.title, admin_product_rate_plan_path(@product.id, rate_plan.id)) %></td>
      <td><%= rate_plan.status.capitalize %></td>
      <td><%= rate_plan.recurrence %></td>
      <td><%= rate_plan.price %></td>
      <td><%= rate_plan.description %></td>
    </tr>
  <% end %>
</table>
