<h1>Rate Plan Details</h1>
<div class="col-sm-7">
  <div class="navbar">
    <div><%= link_to 'Back To Rate Plans', admin_product_rate_plans_path(@product), class: 'btn btn-secondary' %></div>
    <div><%= link_to 'Edit Rate Plan', edit_admin_product_rate_plan_path(@rate_plan), class: 'btn btn-primary' %></div>
  </div>
  <form class="form">
    <div class="form-group">
       <%= label_tag 'Title' %>
       <div class="form-control"><%= @rate_plan.title %></div>
    </div>
    <div class="form-group">
      <div><%= label_tag 'Description:' %></div>
      <%= @rate_plan.description %>
    </div>
    <div class="form-group">
      <%= label_tag 'Status' %>
      <div class="form-control"><%= @rate_plan.status %></div>
    </div>
    <div class="form-group">
      <%= label_tag 'Recurrence' %>
      <div class="form-control"><%= @rate_plan.recurrence %></div>
    </div>
    <div class="form-group">
      <%= label_tag 'Price' %>
      <div class="form-control"><%= @rate_plan.price %></div>
    </div>
    <div class="form-group">
      <%= label_tag 'Start Date' %>
      <div class="form-control"><%= format_datetime(@rate_plan.start_date) || 'N/A' %></div>
    </div>
    <div class="form-group">
      <%= label_tag 'End Date' %>
      <div class="form-control"><%= format_datetime(@rate_plan.end_date) || 'N/A' %></div>
    </div>
  </form>
</div>
