<h1>Edit Product</h1>

<div class="navbar">
  <%= link_to('Back To Product Details', admin_product_path(@product), class: "btn btn-secondary") %>
</div>
<div class="col-sm-6">
<%= form_for @product, url: admin_product_path  do |f| %>
  <div class="form-group">
    <%= label_tag 'Title' %>
    <%= f.text_field :title, class: 'form-control', maxLength: 60 %>
  </div>
  <div class="form-group">
    <%= label_tag 'Description' %>
    <%= f.text_area :description, class: 'form-control', rows: 3 %></div>
  <div class="form-group">
    <%= label_tag 'Status' %>
    <%= f.select(:status, options_for_select(Product::Status::ALL_STATUSES, @product.status)) %>
  </div>
  <div class="form-group">
    <%= label_tag 'Start Date' %>
    <%= f.date_field :start_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag 'End Date' %>
    <%= f.date_field :end_date, class: 'form-control' %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>
