<h2>Products</h2>

<div class="navbar">
  <%=link_to "Add New Product", new_admin_product_path, class: "btn btn-primary" %>
  <div class="float-right">
    <% if @filters.empty? %>
      <%= link_to('only active', admin_products_path(status: Product::Status::ACTIVE), class: "btn btn-secondary") %>
    <% else %>
      <%= link_to('clear filters', admin_products_path, class: "btn btn-dark") %>
    <% end %>
  </div>
</div>
<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.title, admin_product_path(product) %></td>
      <td><%= product.description %></td>
      <td><%= product.status.humanize %></td>
    </tr>
  <% end %>
</table>
</div>
