<h1>New Product</h1>

<div class="col-sm-7">
  <div class="navbar">
    <div><%= link_to('Back To All Products', admin_products_path, class: 'btn btn-secondary') %></div>
  </div>
  <div class="form">
  <%= form_for @product, url: admin_products_path do |f| %>
    <div class="form-group">
      <%= label_tag 'Title' %>
      <%= f.text_field :title, class: 'form-control', maxLength: 60 %>
    </div>
    <div class="form-group">
      <%= label_tag 'Description' %>
      <%= f.text_area :description, class: 'form-control', rows: 3 %>
    </div>
    <div class="form-group">
      <%= label_tag 'Status' %>
      <%= f.select :status, options_for_select(Product::Status::ALL_STATUSES, default: Product::Status::ACTIVE) %>
    </div>
    <div class="form-group">
      <%= label_tag 'Start Date' %>
      <%= f.date_field :start_date, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag 'End Date' %>
      <%= f.date_field :end_date, class: 'form-control' %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
