<h1>Product Details</h1>

<div class="col-sm-7">
  <div class="navbar">
    <div><%= link_to 'Back To All Products', admin_products_path, class: "btn btn-secondary" %></div>
    <div><%= link_to 'Edit Product', edit_admin_product_path(@product), class: "btn btn-primary" %></div>
    <div><%= link_to('Rate Plans', admin_product_rate_plans_path(product_id: @product.id), class: "btn btn-info") %></div>
  </div>

  <form class="form">
    <div class="form-group">
      <%= label(:title, "Title:") %>
      <div class="form-control"><%= @product.title %></div>
    </div>
    <div class="form-group">
      <%= label(:description, "Description:") %>
      <div class="form-control"><%= @product.description %></div>
    </div>
    <div class="form-group">
      <%= label(:start_date, "Start Date") %>
      <div class="form-control"><%= format_datetime(@product.start_date) %></div>
    </div>
    <div class="form-group">
      <%= label(:start_date, "End Date") %>
      <div class="form-control"><%= format_datetime(@product.end_date) || 'N/A' %></div>
    </div>
    <div class="form-group">
      <%= label(:status, "Status:") %>
      <div class="form-control"><%= @product.status.humanize %></div>
    </div>
    <div class="form-group">
    </div>
  </form>
</div>
