<!DOCTYPE html>
<html>
  <head>
    <title>BigCommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <% if flash[:notice] %>
        <p class="alert alert-success"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] -%>
        <p class="alert alert-danger"><%= flash[:error] %></p>
      <% end %>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
